<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="chassis" params="name">
    <link name="${name}">
      <visual>
        <geometry>
          <box size="1.5 1.0 0.5"/>  <!-- 차체 크기 -->
        </geometry>
        <material name="gray"/>
      </visual>
    </link>
  </xacro:macro>

</robot>
