<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="suspension" params="wheel parent">
    <joint name="${wheel}_suspension" type="prismatic">
      <parent link="${parent}"/>
      <child link="${wheel}"/>
      <origin xyz="0 0 -0.1"/>  <!-- 서스펜션 위치 조정 -->
      <axis xyz="0 0 1"/>
      <limit lower="-0.05" upper="0.05" effort="100" velocity="1.0"/>
    </joint>
  </xacro:macro>

</robot>
